<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <link href="bootstrap4/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="jquery/jquery-3.2.1.min.js"></script>
  <script src="bootstrap4/js/bootstrap.min.js"></script>
  <div id="lib" class="container">

    <h2>Basic Table</h2>
    <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
    <table class="table">
      <thead>
        <tr>
          <th>Nr.</th>
          <th>Autor</th>
          <th>Verlag</th>
          <th>ISBN</th>
          <th>Erscheinungsdatum</th>
          <th>Verliehen</th>
        </tr>
      </thead>
      <tbody>
        <!--<bookrow v-for="item in books" v-bind:book="item"></bookrow>-->
        <tr v-for="(book, index) in books">
          <td>{{ index + 1 }}</td>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.publisher }}</td>
          <td>{{ book.isbn }}</td>
          <td>{{ book.publication }}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <script>
    var apiURL = 'http://localhost:8080/books'

    Vue.component('bookrow', {
      props: ['book'],
      template: '<tr><td>{{ book.title }}</td><td>{{ book.author }}</td></tr>'
    })

    var lib = new Vue({

      el: '#lib',
      data: {
        books: null
      },

      created: function () {
        this.fetchData()
      },

      methods: {
        fetchData: function () {
          var xhr = new XMLHttpRequest()
          var self = this
          xhr.open('GET', apiURL)
          xhr.onload = function () {
            var o = JSON.parse(xhr.responseText)
            self.books = o._embedded.books
            console.log(self.books)
          }
          xhr.send()
        }
      }
    })
  </script>

</body>
</html>